<div class="center-block row">
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="mapa_proceso--titulo">
            <h1>Mapa de Procesos</h1>
            <h2>IPS Universitaria</h2>
        </div>
    </div>

    <div class="d-none d-lg-block col-md-3">
        <div>
            <div class="row">
                <div class="mapa_proceso--info__container col-xs-6">
                    <ul class="mapa_proceso--info list-unstyled">
                        <li>
                            <div style="background: #f8873b;width: 16px;height: 16px;float: left;margin-right: 6px; margin-top: 3px;"
                                title="Procesos Estratégico">&nbsp;</div> <b>Estratégico</b>
                        </li>
                        <li>
                            <div style="background: #3c6ec7;width: 16px;height: 16px;float: left;margin-right: 6px; margin-top: 3px;"
                                title="Procesos Misionales">&nbsp;</div> <b>Misional</b>
                        </li>
                        <li>
                            <div style="background: #6fb342;width: 16px;height: 16px;float: left;margin-right: 6px; margin-top: 3px;"
                                title="Procesos de Apoyo">&nbsp;</div> <b>Apoyo</b>
                        </li>
                        <li>
                            <div style="background: #011b51;width: 16px;height: 16px;float: left;margin-right: 6px; margin-top: 3px;"
                                title="Procesos de Evaluación">&nbsp;</div> <b>Evaluación</b>
                        </li>
                    </ul>
                </div>

                <div class="padding--none__left col-xs-6">
                    <div class="mapa_proceso--img">
                        <img src="/img/logo_ipsBlanco.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="message__separator" />

<div class="row">
    <div class="d-none d-md-block col-md-1">
        <img src="/img/entradas.svg" style="width:111%" class="img-responsive no-drag-me" />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="text-center mapa_proceso--proceso_estrategico">
            <button type="button" class="btn btn-warning" ng-repeat="proceso in vm.procesos.Estrategicos"
                ng-click="vm.viewSubprocesos(proceso, 'Estratégico')" title="{{proceso.Nombre}}">
                {{proceso.Nombre}}
            </button>
        </div>
        <div class="mapa_proceso--proceso_estrategico__down"></div>

        <hr class="message__separator" />

        <div class="text-center mapa_proceso--proceso_misional">
            <button type="button" class="btn btn-info" ng-repeat="proceso in vm.procesos.Misionales"
                ng-click="vm.viewSubprocesos(proceso, 'Misional')" title="{{proceso.Nombre}}">
                {{proceso.Nombre}}
            </button>
        </div>

        <hr class="message__separator" />

        <div class="text-center mapa_proceso--proceso_apoyo">
            <button type="button" class="btn btn-info" ng-repeat="proceso in vm.procesos.Apoyo"
                ng-click="vm.viewSubprocesos(proceso, 'Apoyo')" title="{{proceso.Nombre}}">
                {{proceso.Nombre}}
            </button>
        </div>

        <hr class="message__separator" />

        <div class="mapa_proceso--proceso_evaluacion__up"></div>
        <div class="text-center mapa_proceso--proceso_evaluacion">
            <button type="button" class="btn btn-info" ng-repeat="proceso in vm.procesos.Evaluacion"
                ng-click="vm.viewSubprocesos(proceso, 'Evaluación')" title="{{proceso.Nombre}}">
                {{proceso.Nombre}}
            </button>
        </div>
    </div>

    <div class="d-none d-md-block col-md-2">
        <img src="/img/salidas.svg" style="width:65%" class="img-responsive no-drag-me" />
    </div>
</div>
</div>