block content
    footer.footer
        .container-fluid.clearfix
            .row
                .col-xs-12.col-sm-3
                    a(href='http://www.ipsuniversitaria.com.co/es/' target='_blank')
                        img.footer__logo(src='/img/logo_ips_universitaria.png' alt='Logo Footer')
                .col-xs-12.col-sm-3.footer__item
                    h4 IPS Universitaria
                    p Instituci&oacute;n Prestadora de Servicios de Salud de la Universidad de Antioquia.
                    p
                        | Todos los derechos reservados 
                        b 2019
                        | &reg;
                .col-xs-12.col-sm-2.footer__item
                    h4 Acerca de
                    ul.list-unstyled.footer__list
                        li.footer__list--item
                        a(href='#') Pol&iacute;ticas del Portal
                        li.footer__list--item
                        a(href='#') T&eacute;rminos y Condiciones
                        li.footer__list--item
                        a(href='http://portal.ipsuniversitaria.com.co' target='_blank')
                            | Portal de Aplicaciones
                .col-xs-12.col-sm-2.footer__item
                    h4 Soporte y Ayuda
                    ul.list-unstyled.footer__list
                        li.footer__list--item
                        a(href='#') FAQ
                .col-xs-12.col-sm-2.footer__item
                    h4 Redes Sociales
                    ul.list-inline.list-social
                        li.list-inline-item(data-toggle='tooltip')
                        a(href='http://www.ipsuniversitaria.com.co/' target='_blank' style='color:#4797c8' title='IPS Universitaria: Página Oficial')
                            span.mdi.mdi-hospital-building
                        li.list-inline-item(data-toggle='tooltip')
                        a(href='https://facebook.com/IPSUNIVERSITARIA' target='_blank' style='color:#3C5A99' title='Facebook')
                            span.mdi.mdi-facebook-box
                        li.list-inline-item(data-toggle='tooltip')
                        a(href='https://twitter.com/IPSUDEA' target='_blank' style='color:#1DA1F2' title='Twitter')
                            span.mdi.mdi-twitter-box
                        li.list-inline-item(data-toggle='tooltip')
                        a(href='https://youtube.com/user/IPSUNIVERSITARIA' target='_blank' style='color:#FF0000' title='Youtube')
                            span.mdi.mdi-youtube
