block content
    footer.footer
        .container-fluid.clearfix
            .row
                .col-xs-12
                    p
                        | Todos los derechos reservados 
                        b 2019 
                        | &reg;