extends layout

block content
  .container-scroller(ng-Init="vm.mapaProceso = true;")
  include header

  .container-fluid.page-body-wrapper
    include sidebar

    .main-panel
      .content-wrapper

      .row
          .col-md-12.grid-margin
            .card
              .card-body
                mapa-procesos

      include footer