block content
    nav#sidebar.sidebar.sidebar-offcanvas
      ul.nav
        li.nav-item.nav-category Menú Principal
        li.nav-item
          a.nav-link(href='?path=Indicadores')
            span.mdi.mdi-chart-bar
            span.menu-title Main Folder
        
        li.nav-item
          a.nav-link(data-toggle='collapse' href='#submenu', aria-expanded='false' aria-controls='submenu')
            span.mdi.mdi-menu
            span.menu-title Opciones Generales
            i.menu-arrow
          #submenu.collapse
            ul.nav.flex-column.sub-menu
              li.nav-item
                a.nav-link(href='#') Submenu