<section class="row" ng-init="vm.onInitOtrosDocumentos()">
    <div class="col-md-5">
        <img src="/img/procesos/otros.png" class="img-fluid" />
    </div>

    <div class="col-md-7">
        <div class="float-right">
            <h4 class="title-proceso">
                <span class="otros">Otros Documentos</span>
            </h4>
        </div>

        <div class="clearfix"></div>

        <main class="container ml-5">
            <div class="row">
                <a ng-repeat="item in vm.items"
                    class="col-xs-12 col-md-5 ml-2 mr-2 mb-3 proceso-button proceso-button--otros"
                    href="/ftp?path={{item.Path}}&tipo='Documentacion'">
                    {{item.Nombre}}
                </a>
            </div>
        </main>
    </div>
</section>